name: ci simple

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  DOCKER_USER: ${{ github.repository_owner }}
  APPLICATION_PATH: "."
  DOCKER_IMAGE_NAME: "treinamento-azure"

jobs:
  build-java:
    name: Build Java (Maven)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file $APPLICATION_PATH/pom.xml

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  docker-image:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build-java

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          DOCKER_USER_LOWER=${DOCKER_USER,,}
          echo "Docker user lower: $DOCKER_USER_LOWER"

          docker build \
            -f docker/Dockerfile \
            -t ghcr.io/$DOCKER_USER_LOWER/$DOCKER_IMAGE_NAME:latest \
            .

          docker push ghcr.io/$DOCKER_USER_LOWER/$DOCKER_IMAGE_NAME:latest
